{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true }],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    ["@babel/plugin-proposal-optional-chaining"],
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathSuffix": "./src/assets",
            "rootPathPrefix": "#assets/"
          },
          {
            "rootPathSuffix": "./src/types",
            "rootPathPrefix": "#types/"
          },
          {
            "rootPathSuffix": "./src/components",
            "rootPathPrefix": "#components/"
          },
          {
            "rootPathSuffix": "./src/pages",
            "rootPathPrefix": "#pages/"
          },
          {
            "rootPathSuffix": "./src/hooks",
            "rootPathPrefix": "#hooks/"
          },
          {
            "rootPathSuffix": "./src/store",
            "rootPathPrefix": "#store/"
          },
          {
            "rootPathSuffix": "./src/data",
            "rootPathPrefix": "#data/"
          },
          {
            "rootPathSuffix": "./src/apis",
            "rootPathPrefix": "#apis/"
          },
          {
            "rootPathSuffix": "./src/common",
            "rootPathPrefix": "#common/"
          },
          {
            "rootPathSuffix": "./src/utils",
            "rootPathPrefix": "#utils/"
          },
          {
            "rootPathSuffix": "./src/context",
            "rootPathPrefix": "#context/"
          },
          {
            "rootPathSuffix": "./src",
            "rootPathPrefix": "#/"
          }
        ]
      }
    ]
  ]
}
