{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    ["@babel/plugin-proposal-optional-chaining"],
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathSuffix": "./src/assets",
            "rootPathPrefix": "#assets/"
          },
          {
            "rootPathSuffix": "./src/components",
            "rootPathPrefix": "#components/"
          },
          {
            "rootPathSuffix": "./src/pages",
            "rootPathPrefix": "#pages/"
          },
          {
            "rootPathSuffix": "./src/store",
            "rootPathPrefix": "#store/"
          },
          {
            "rootPathSuffix": ".",
            "rootPathPrefix": "#/"
          }
        ]
      }
    ]
  ]
}
